@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    padding: 0;
    margin: 0;
    list-style: none;
}

/* navbar */
.navbar{
    background-color: #121212;
}

.navbar-brand{
    color: #e9ecef;
    margin-left: 25px;
}

.navbar-nav{
    font-size: 13px;
    font-family: poppins;
    font-weight: 400;
    text-align: center;
    margin: auto;
}

.nav-link{
    color: #e9ecef;
}
/* navbar */
/* landing page */

.landing-page{
    background-color: #121212;
    height: 550px;
    padding-top: 50px;
}

.landing-page-img{
    width: 80%;
}

.landing-page-img img{
    position: relative;
}

.landing-page-words{
    width: 80%;
    float: right;
    justify-content: left;
}

.landing-page-img-inner-box{
    height: 150px;
    width: 150px;
    float: right;
    position: relative;
    right: 150px;
    bottom: 20px;
    border: solid;
    border-color: #925e2e;
    border-width: 3px 3px 0px 0px;
}

.landing-page-logo{
    color: #925e2e;
    font-family: poppins;
    font-size: 25px;
    font-weight: 600;
}

.landing-page-words h1{
    font-family: poppins;
    color: #e9ecef;
}

.landing-page-discription{
    color: #e9ecef;
    font-family: poppins;
    font-size: 14px;
    letter-spacing: 1px;
    margin-top: 20px;
}

.landing-page-button{
    text-decoration: none;
    color: #1D1F38;
    padding: 15px 40px 15px 40px;
    background-color: #F59843;
    margin: 30px 35px 0px 0px;
    font-size: 17px;
    font-weight: 600;
    font-family: poppins;
}

.landing-page-link{
    text-decoration: none;
    color: #e9ecef;
    font-size: 15px;
    letter-spacing: 1px;
    font-weight: 600;
    font-family: poppins;
}

.landing-page-brands{
    display: flex;
    height: 175px;
    /* background-color: #e9ecef; */
}

.landing-page-brand-1{
    height: 100%;
    width: 25%;
    background-image: url(image/brand-1.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.landing-page-brand-2{
    height: 100%;
    width: 25%;
    background-image: url(image/brand-2.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.landing-page-brand-3{
    height: 100%;
    width: 25%;
    background-image: url(image/brand-3.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.landing-page-brand-4{
    height: 100%;
    width: 25%;
    background-image: url(image/brand-4.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
/* landing page */
/* overview */
.overview-img{
    height: 500px;
    width: 100%;
    background-image: url(image/overview-img.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.overview-words{
    height: 500px;
    width: 100%;
    padding-top: 45px;
    padding-left: 20px;
    /* background-color: #121212; */
}
/* overview */
/* footer */
.footer-container{
    height: auto;
    width: 100%;
    background-color: #121212;
}

.footer-1{
    height: 300px;
    width: 100%;
    /* background-color: white; */
}

.footer-logo{
    font-size: 27px;
    text-decoration: none;
    font-weight: 700;
    color: #e9ecef;
}

.footer-discription{
    font-size: 18px;
    color: #888888;
    font-family: poppins;
}

.input-box{
    height: 50px;
    width: 70%;
    padding-left: 5px;
}

.input-box input{
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    font-size: 17px;
    font-family: poppins;
    font-weight: 400;
    color: #848484;
    background-color: #F3F3F3;
}

.submit-button{
    height: 50px;
    width: 30%;
}

.submit-button input{
    height: 90%;
    width: 90%;
    border: none;
    outline: none;
    font-size: 17px;
    font-family: poppins;
    font-weight: 400;
    color: #e9ecef;
    background-color: #FF8D07;
    margin-top: 2px;
    border-radius: 5px;
}
/* footer */