{% extends 'base.html' %} {% load static %} {% block main %}
<link rel="stylesheet" href="{% static 'css/about.css' %}" />
{% comment %} about us landing page {% endcomment %}
<div class="container-fluid" style="background-color: #121212">
  <br />
  <br />
  <br />
  <br />
  <div class="row">
    <div class="col-xxl-6 col-lg-6 col-md-6 col-sm-12">
      <div class="about-us-discription">
        <p class="about-pt1">About Us</p>
        <h1 class="about-pt2">
          more fun in our coffee <br />
          space
        </h1>
        <p class="about-pt3">
          The various coffees, western, asian and indonesain flavors as well as
          halal drink that we server are prepared by experienced baristas and
          chefs, hoping to bring you a happy experience in the culinary and
          coffee world.
        </p>
        <p class="about-pt4">
          <i class="fas fa-phone" style="margin-right: 15px"></i>+234 (814)
          723-3247<span class="about-pt5 ms-5"
            ><i class="fa fa-twitter" style="margin-right: 15px"></i
            >@iamgeorgespicy</span
          >
        </p>
      </div>
    </div>
    <div class="col-xxl-6 col-lg-6 col-md-6 col-sm-12">
      <div class="about-us-image"></div>
    </div>
  </div>
</div>
{% comment %} about us landing page {% endcomment %}
<br />
<br />
{% comment %} about us history {% endcomment %}
<div class="container">
  <div class="row">
    <div class="col-xxl-6 col-lg-6 col-md-6 col-sm-12">
      <div class="about-ht1"></div>
    </div>
    <div class="col-xxl-6 col-lg-6 col-md-6 col-sm-12 pt-5">
      <div class="about-ht2">
        <p class="about-ht3">WISTARA</p>
        <h1 class="about-ht4">What's The Inspiration Behind WISTARA?</h1>
        <p class="about-ht5">
          Lorem ipsum dolor sit amet consectetur adipiscing elit nunc integer
          ut, non parturient duis fermentum conubia nec dapibus id iaculis,
          dignissim odio egestas luctus viverra lobortis libero ultricies arcu.
          Lacinia praesent ad vestibulum fermentum ultrices aptent posuere ut
          nullam dignissim, nam proin tristique gravida ullamcorper scelerisque
          senectus magnis.
        </p>
      </div>
    </div>
  </div>
</div>
{% comment %} about us history {% endcomment %} {% endblock %}
